*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(156, 120, 255); */
}

h1{
    text-align: center;
}

td{
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;

}
table{
    margin: 0 auto;
    /* border: 1px solid black; */
    border-spacing: 0px;
}
 .hori {
    border-left: 2px solid rgb(243, 4, 252);
    border-right:2px solid rgb(243, 4, 252);
 }

 .vert{
     border-top: 2px solid rgb(243, 4, 252);
     border-bottom: 2px solid rgb(243, 4, 252);
     /* padding:5px; */
     /* background-color: blue; */
     margin: 0;
 }

.square{
    cursor: pointer;
    font-size: 80px;
    text-align: center;
    /* background-color: aqua; */
}

.win{
    background: green;
}